$w: 100px;
$h: 100px;
.container{
    $size:100px;
    .item{
        $color: lightgreen !global;
        width:$size;
        height: $size;
        background: $color;
        &:first-child{
            background:blanchedalmond;
        }
    }
    @at-root .box{
        width: $size;
        height: $size;
        background: $color;
        margin: {
            top: 10px;
            left: 20px;
        }
        padding: {
            bottom:40px;
        }
    }
}

.variableBox{
    width: $w;
    height: $h;
    background: red;
}

// maxin and include
@mixin size($w: 100px, $h: 100px){
    width: $w;
    height: $h;
}
  
.box1{
    @include size(100px, 100px);
}

.box2{
    @include size(100px, $h:50px);
}

.box3{
  @include size();
}





